 
 
 








 
 
 
 
 



<div class="main">

 
    <div class="container"> 
      <span> Active Items</span>
      
    <a  [routerLink] = "['/Newitem']">  <button type="button" class="btn btn-success" style="margin-left: 70%;" >+  New</button></a>
    <table class="table">
      <thead>
        <tr>
          <th>shiva</th>
          <th>abhi</th>
          <th>Vijay</th>
          <th>Item Type</th>
          <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Idli</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td>
           
        </tr>
        <tr>
          <td>Doasa</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td>
        </tr>
        <tr>
          <td>Tea</td>
          <td>SouthFood</td>
          <td>Tiffen</td>
          <td>Manufactured</td> 
        </tr>
      </tbody> 
    </table>
    </div>
    
  </div>
  
 
